<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%=config.INSTAPIO_APPLICATION_NAME%>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
</head>
<body>
    <a href="/oauth/?jwt=<%=token%>" target="_blank" style="text-decoration:none; width:300px;height:450px; position:absolute; top:0;bottom:0; left:0;right:0; margin:auto; text-align: center;">
        <h2>Authenticate</h2>
        <img style="width:200px; height:200px;" src="/assets/img/icons/Security/app_shield.svg"></img>
        <p>Click to Authenticate</p>
    </a>
</body>
</html>